In [1]:
%matplotlib inline

In [2]:
# Dependencies
import pandas as pd
import numpy as np
import os
import csv
from datetime import date
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
import scipy.stats as stats
from scipy.stats import ttest_ind

In [3]:
os.chdir('/Users/ruddysimonpour/Desktop/gun-violance/sources')
resource = pd.read_csv("2017 county_data_complete_REV_1.csv", parse_dates=[0], low_memory=False)

In [4]:
county_data = pd.DataFrame(resource)
county_data

,County,State,Year,Number of Incidents,Total Killed,Total Injured,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Cook,IL,2017,3272,722,3044,41.7496,-87.5714,5238541,36.4,59426,33722,821572,15.683222,4.592977
1,Baltimore,MD,2017,1165,319,681,39.2946,-76.6745,828637,39.2,71810,37270,73560,8.877229,2.944474
2,District of Columbia,DC,2017,1142,100,340,38.9552,-77.0225,672391,33.9,77649,50832,111025,16.511970,4.651906
3,Milwaukee,WI,2017,849,112,392,42.9655,-87.8576,956586,34.6,46784,26933,191973,20.068556,3.651527
4,Los Angeles,CA,2017,792,406,366,33.8127,-118.2630,10105722,36.0,61015,30798,1688505,16.708405,4.021741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2140,Yellow Medicine,MN,2017,1,1,0,44.6882,-95.6603,9930,42.6,54645,28182,1215,12.235649,1.409869
2141,York,NE,2017,1,0,3,40.8684,-97.5900,13832,40.9,59966,28298,1253,9.058704,1.243493
2142,York,VA,2017,1,1,0,37.1578,-76.4582,67196,39.6,86781,38193,3446,5.128281,3.086493
2143,Young,TX,2017,1,2,0,33.0940,-98.5879,18166,41.5,46351,25661,2939,16.178575,2.152373
2144,Ziebach,SD,2017,1,0,0,45.0475,-101.6020,2837,30.5,35000,13461,1216,42.862178,12.618964

In [30]:
county_data.dtypes

County                  object
State                   object
Year                     int64
Number of Incidents      int64
Total Killed             int64
Total Injured            int64
Latitude               float64
Longitude              float64
Population               int64
Median Age             float64
Household Income         int64
Per Capita Income        int64
Poverty Count            int64
Poverty Rate           float64
Unemployment Rate      float64
dtype: object

## P_value 
We decide to calculate p-values of data to check the validity of our claim about correlation between datas.
We want to understand that is there any correlation between poverty and gun incidens ?

In [5]:
p_value_data = county_data[["Number of Incidents",
                            "Poverty Rate"]]
p_value_data.head()

   Number of Incidents  Poverty Rate
0                 3272     15.683222
1                 1165      8.877229
2                 1142     16.511970
3                  849     20.068556
4                  792     16.708405

In [11]:
poverty_m = p_value_data["Poverty Rate"].mean()
poverty_m

15.81886480079677

In [12]:
poverty_range = p_value_data["Poverty Rate"].unique().tolist()
poverty_range

[15.6832217,
 8.877228509,
 16.51197,
 20.0685563,
 16.7084054,
 15.680620300000001,
 24.2870799,
 24.562189899999996,
 20.4212414,
 16.6165472,
 25.096183399999997,
 17.9151281,
 18.5300089,
 23.4586597,
 19.396168399999997,
 17.191035100000004,
 15.4433372,
 16.2645282,
 13.2576193,
 16.109479699999998,
 15.508984400000001,
 16.7500514,
 16.3790943,
 17.069197199999998,
 14.6884133,
 14.4122236,
 13.187694,
 16.6314457,
 15.688820300000001,
 15.4904891,
 18.6924305,
 11.1188225,
 12.1639063,
 15.280879800000001,
 21.7495653,
 8.594911199999999,
 15.0111995,
 17.4989705,
 11.306514,
 10.032911300000002,
 23.9673687,
 21.6586259,
 17.6695487,
 18.7111552,
 16.2272054,
 11.545557400000002,
 10.624855,
 17.3096335,
 18.8874515,
 16.6062389,
 10.833989500000001,
 15.3806663,
 25.0139973,
 16.3146973,
 16.5438905,
 22.9446885,
 14.464147500000001,
 13.337618300000003,
 10.7729993,
 16.9552016,
 12.050218300000001,
 23.103897699999997,
 17.736698999999998,
 14.843224300000001,
 16.0865689,
 17.7840049,
 16.6916034,
 16.464023,
 20.788131699999997,
 13.200147,
 13.3461941,
 19.322387399999997,
 14.644976500000002,
 14.5772486,
 16.719967999999998,
 13.004706599999999,
 15.479327900000001,
 14.4764576,
 29.000114,
 16.0152058,
 17.0863938,
 14.3560667,
 16.5036812,
 13.875570199999999,
 14.1129589,
 9.6673602,
 11.8204863,
 14.8291663,
 16.2377199,
 20.193289899999996,
 10.919784199999999,
 17.093007699999998,
 15.596183100000001,
 18.8201927,
 14.338560000000001,
 15.700397199999998,
 14.4675551,
 10.3055901,
 17.7439587,
 25.6446405,
 10.6713492,
 12.835777400000001,
 10.313092999999999,
 7.8072887,
 15.757721799999999,
 13.3437277,
 12.9938645,
 20.2826777,
 10.7373183,
 11.992429199999998,
 11.4653226,
 16.773444199999997,
 17.294508899999997,
 11.6841254,
 13.594269500000001,
 16.1775406,
 7.883309599999999,
 8.5037039,
 13.1231492,
 12.7608478,
 19.7818833,
 17.327078399999998,
 13.166587,
 10.0533561,
 11.465954199999999,
 20.591023,
 13.869292100000001,
 10.1108307,
 13.2851849,
 13.218276500000002,
 9.0953985,
 15.120981299999999,
 16.472588599999998,
 9.890106699999999,
 14.0668286,
 17.8275256,
 15.2617329,
 16.1856389,
 11.988741000000001,
 31.255969,
 10.0274526,
 13.4704509,
 10.1217927,
 19.2614221,
 16.381560099999998,
 15.316906699999999,
 14.930787099999998,
 17.3040515,
 12.676609,
 14.4090125,
 23.4123207,
 14.7465992,
 19.6509147,
 16.7777289,
 7.928132499999999,
 16.7815666,
 17.7030189,
 23.164391199999997,
 13.6053095,
 21.9575549,
 11.591826699999999,
 15.6171454,
 17.5527119,
 12.020898800000001,
 8.6951227,
 7.2919922999999995,
 18.699930300000002,
 14.4935515,
 14.624067499999999,
 16.846948100000002,
 15.3548861,
 16.0298177,
 12.5147058,
 19.878199,
 12.5576829,
 7.046097200000001,
 13.1616807,
 19.9714041,
 17.453357999999998,
 16.8455943,
 16.270410899999998,
 19.5122948,
 17.0268293,
 22.194104100000004,
 12.9155649,
 22.520086199999998,
 12.0867506,
 11.1325921,
 5.7705809,
 17.0637247,
 12.1041304,
 20.5852648,
 21.1364641,
 17.1029624,
 20.568564499999997,
 17.9887398,
 10.3562157,
 19.7589759,
 10.7062641,
 16.016184699999997,
 26.748385499999998,
 16.4042557,
 6.2481077,
 19.0880415,
 15.1279446,
 13.699164999999999,
 7.3377253,
 17.080746899999998,
 11.1781894,
 13.267793,
 8.943922800000001,
 7.8381183000000005,
 12.5806691,
 16.9445335,
 22.7611354,
 16.2933353,
 22.243496399999998,
 16.2897654,
 16.4349587,
 14.375010999999999,
 9.2178466,
 5.888416599999999,
 17.2834168,
 13.1875275,
 15.334699800000003,
 8.8332929,
 21.2225919,
 10.1736929,
 19.5810402,
 13.2535486,
 23.300710199999997,
 11.5955326,
 11.7716638,
 11.631865300000001,
 27.449150500000002,
 18.4171502,
 17.040242499999998,
 16.949939899999997,
 21.319438199999997,
 8.268699,
 13.720820199999999,
 17.3876087,
 28.4543212,
 29.2377789,
 25.051757100000003,
 12.053094900000001,
 17.050919399999998,
 10.1962966,
 21.8041219,
 24.0563098,
 8.9198009,
 10.5215563,
 22.6135934,
 18.156606699999998,
 12.6529961,
 9.2101985,
 16.5605696,
 16.1571027,
 13.1985424,
 9.6873727,
 20.3909923,
 15.352623499999998,
 9.8712995,
 12.8881635,
 16.2012987,
 15.558317800000001,
 15.5707835,
 14.1274157,
 15.824952599999998,
 11.8204045,
 18.992008300000002,
 14.8044837,
 17.7914039,
 26.9875457,
 9.808781199999999,
 15.705222000000001,
 19.012719600000004,
 16.497360999999998,
 17.9270549,
 14.2236255,
 5.5748388,
 11.6878867,
 10.9729849,
 10.785042800000001,
 12.919197,
 13.866854,
 6.863473700000001,
 19.118018499999998,
 16.4361197,
 18.125632999999997,
 11.7617168,
 7.368562400000001,
 11.6006222,
 21.2301125,
 10.119803300000001,
 31.3949209,
 13.1781174,
 11.7006686,
 9.4873177,
 13.3411358,
 14.765295000000002,
 11.6000984,
 17.655106,
 20.5888669,
 27.175249800000003,
 6.680109799999999,
 20.5564324,
 9.6494784,
 31.504290299999997,
 13.528217499999998,
 14.1349975,
 31.432845899999997,
 15.4493983,
 15.94317,
 21.412000699999997,
 8.574327400000001,
 15.103952900000001,
 13.9178323,
 20.606838399999997,
 24.937895,
 10.675640099999999,
 14.7841064,
 10.6556555,
 15.2939793,
 22.3912775,
 14.610056699999998,
 25.881755899999998,
 15.5934035,
 11.5168189,
 13.3024369,
 12.533719099999999,
 12.720938199999999,
 16.635624,
 10.7468815,
 7.4981954,
 13.986577800000003,
 12.0356354,
 22.150248899999998,
 17.8667442,
 12.5920868,
 16.9151376,
 17.3705646,
 9.4524249,
 19.1174383,
 11.667978,
 24.134695699999998,
 17.3480128,
 17.166942600000002,
 18.2790948,
 12.5484399,
 18.594742,
 12.4594436,
 11.9278427,
 17.6573341,
 8.9726275,
 21.1496845,
 20.782625,
 9.329255300000002,
 16.292531099999998,
 20.0351757,
 16.636287,
 6.9365992,
 13.690509200000001,
 7.2016504,
 19.6980551,
 12.0665213,
 6.8987022,
 15.399054199999998,
 18.115110100000003,
 12.5136881,
 23.4729531,
 33.3048623,
 15.918599800000003,
 23.1441048,
 12.785097300000002,
 7.0441478,
 15.705416399999999,
 15.8836492,
 8.7740137,
 21.157493399999996,
 14.327935,
 15.9224937,
 11.399299699999998,
 18.224520300000002,
 18.497149399999998,
 13.1797834,
 16.694633,
 12.5897305,
 9.550138,
 11.5204869,
 19.853714899999996,
 18.897288699999997,
 9.2528739,
 10.1287217,
 16.4962586,
 10.176009599999999,
 12.7464926,
 17.1733264,
 7.134723599999999,
 15.918312099999998,
 27.3290662,
 12.723672599999999,
 21.819536499999998,
 26.017208399999998,
 13.7052824,
 25.0861396,
 6.3766850999999996,
 17.018156100000002,
 12.2872014,
 14.111880900000001,
 12.2654098,
 8.088699900000002,
 31.0439723,
 16.7152332,
 10.9084515,
 17.4976215,
 15.268993799999999,
 19.3230435,
 17.3841535,
 8.276363700000001,
 16.4674746,
 9.0879464,
 13.6420012,
 17.8921194,
 6.0515319000000005,
 16.9856306,
 13.968319000000001,
 9.683321099999999,
 18.2847702,
 12.0872813,
 14.0877535,
 18.664889600000002,
 9.623285699999998,
 11.649168300000001,
 10.385883300000001,
 10.329035699999999,
 6.830839900000001,
 16.6010233,
 12.1237415,
 13.612446400000001,
 23.2877495,
 14.749116,
 17.553052800000003,
 15.132187099999998,
 16.321324,
 10.3487641,
 20.3891437,
 31.3155446,
 10.924351699999999,
 13.557248399999999,
 11.080323,
 17.5103028,
 10.976574000000001,
 16.815198000000002,
 15.359971,
 15.009028,
 14.8178425,
 11.548385000000001,
 7.830196400000001,
 16.6695855,
 18.1013362,
 21.1114038,
 13.6584647,
 8.360740400000001,
 10.2342751,
 26.1482764,
 6.2224785,
 12.8218149,
 11.171709800000002,
 11.8749437,
 25.5013508,
 8.2232711,
 21.7369007,
 8.006370299999999,
 11.583801,
 16.459249300000003,
 15.1899312,
 12.6955185,
 20.8780109,
 8.1264584,
 9.2288397,
 20.6744335,
 20.934341,
 14.0485076,
 35.5725974,
 11.7015688,
 16.8206333,
 6.836259200000001,
 16.6413734,
 8.2556337,
 18.8510767,
 9.598189300000001,
 14.8230798,
 21.0045437,
 20.0192836,
 10.2603389,
 13.1435063,
 31.1874216,
 8.4577277,
 20.5608755,
 23.842176300000002,
 4.9489453,
 19.1701627,
 13.9730475,
 16.3657981,
 8.8880944,
 19.272354800000002,
 3.6255998,
 7.6208651,
 12.226086,
 16.250894400000004,
 14.053583999999999,
 18.6525772,
 10.943421,
 12.9601162,
 14.4869642,
 12.0913642,
 4.7613223,
 27.6907885,
 15.2844305,
 16.4048096,
 14.4858243,
 16.098718599999998,
 15.5496174,
 16.722197400000002,
 23.7148604,
 7.683824799999999,
 16.2644742,
 38.5348521,
 16.548776999999998,
 11.7823739,
 7.251909599999999,
 18.798358800000003,
 9.7520201,
 22.137140300000002,
 26.627794,
 10.8365612,
 12.441081800000001,
 16.297063,
 14.6805578,
 21.0775153,
 19.295419199999998,
 10.362834199999998,
 16.2116824,
 23.509007699999998,
 9.5575884,
 12.062447099999998,
 16.6363553,
 23.1787004,
 6.821092200000001,
 30.1901973,
 11.443394,
 9.7514618,
 12.2531606,
 18.482838,
 11.478339300000002,
 18.0852268,
 15.035963500000001,
 20.7456353,
 20.3176417,
 13.8777147,
 8.2047512,
 14.5425522,
 18.186881600000003,
 4.7237456,
 17.273523,
 8.4750844,
 18.932738,
 11.9938058,
 18.2171373,
 13.596554999999999,
 22.350177300000002,
 30.9166328,
 14.8866867,
 10.3688795,
 17.1757296,
 13.202287699999998,
 17.116494199999998,
 11.3275036,
 15.4382965,
 22.1518296,
 24.1715497,
 19.9675227,
 7.3662796,
 20.6920873,
 21.744743,
 18.429786899999996,
 17.2805046,
 10.7257857,
 26.984192699999998,
 19.1701015,
 5.546914599999999,
 17.4728124,
 23.7849391,
 13.893418599999999,
 12.181575800000001,
 10.6249368,
 26.2014813,
 11.4281502,
 11.189248300000001,
 16.078253099999998,
 6.1959478,
 17.6143195,
 15.6568988,
 18.4524687,
 15.854841,
 9.4735919,
 19.934541,
 16.9789694,
 7.4008923,
 5.1204019,
 22.436470899999996,
 13.888150199999998,
 7.2115681,
 8.200660899999999,
 15.8775246,
 8.779815800000002,
 10.166084,
 4.5705397,
 12.9329231,
 20.565277899999998,
 8.2056909,
 19.1068508,
 17.6325241,
 4.920756900000001,
 18.9440994,
 15.9985703,
 11.604227400000001,
 18.7405791,
 19.5562563,
 22.0116424,
 10.2239825,
 13.786571799999999,
 17.4233553,
 14.748797699999999,
 20.8920503,
 18.374470499999997,
 17.4232472,
 22.8954952,
 3.664853,
 15.669465300000002,
 23.5666243,
 16.764403400000003,
 18.8555326,
 15.4905411,
 9.196031399999999,
 16.856687,
 20.4709057,
 7.95263,
 7.87373,
 8.7924332,
 26.4612272,
 9.2870168,
 12.627543800000002,
 4.5738849,
 13.4315187,
 24.167016500000003,
 24.2338119,
 10.653001,
 11.7031102,
 6.6930664,
 11.0700867,
 14.9353305,
 12.036207899999999,
 17.679001899999996,
 18.200302999999998,
 10.4869499,
 16.3306935,
 12.3694226,
 10.8143677,
 13.8167407,
 17.1591004,
 17.3590801,
 15.200468599999999,
 14.018220000000001,
 25.754673,
 13.892373300000001,
 20.139173100000004,
 6.4779025,
 21.2238285,
 19.1053018,
 17.5749068,
 10.6091371,
 11.3441584,
 8.810305,
 15.374232300000001,
 18.666541199999998,
 8.060679499999999,
 22.214510699999998,
 12.4522425,
 12.7392142,
 17.4097583,
 28.721572100000003,
 11.065516800000001,
 22.525281699999997,
 10.5953971,
 16.8207628,
 19.436619699999998,
 20.074682199999998,
 14.049032500000001,
 19.191964499999997,
 12.585803199999999,
 12.5331321,
 18.881344100000003,
 17.5025048,
 18.4623217,
 44.7090382,
 17.3166625,
 10.924796699999998,
 22.4635307,
 20.6217536,
 11.2767961,
 12.9948775,
 12.7982102,
 11.1917301,
 13.7169759,
 18.7418522,
 14.0139913,
 15.8552202,
 13.2910223,
 19.6767718,
 13.40741,
 15.2262834,
 22.014484799999998,
 7.836964999999999,
 15.6044687,
 14.992556500000001,
 18.958668,
 16.725958,
 10.1398398,
 30.9790515,
 15.037676800000002,
 7.391304300000001,
 19.3985201,
 8.16952,
 13.660624800000003,
 18.5514088,
 9.3566656,
 21.647545,
 11.6634429,
 8.7656946,
 21.715294600000004,
 14.856957099999999,
 30.5368398,
 16.1034479,
 22.003460399999998,
 15.323769899999999,
 13.865882699999998,
 12.7165418,
 6.2616721,
 10.5960958,
 8.215944,
 22.7593087,
 10.4540424,
 18.8196612,
 11.710474699999999,
 17.330100899999998,
 10.739013400000001,
 38.910075,
 23.180475899999998,
 15.0340356,
 13.3234545,
 7.8657587,
 9.425353999999999,
 6.1033555999999995,
 9.257657,
 9.656231300000002,
 16.311866199999997,
 18.6849082,
 16.758508900000002,
 24.2916546,
 5.2747789,
 16.702721,
 25.143705999999998,
 13.7544103,
 24.2164673,
 15.696389100000001,
 26.584201399999998,
 10.5533366,
 6.5034898000000005,
 18.909037100000003,
 14.814488199999998,
 5.6306703,
 10.343498599999998,
 35.3432664,
 15.9027275,
 14.7429258,
 13.8542494,
 16.802074800000003,
 28.126388800000004,
 13.4023943,
 15.5042413,
 15.5644048,
 4.9475761,
 11.757694500000001,
 24.9340419,
 19.036559,
 14.908836800000001,
 16.314965,
 7.735409599999999,
 15.9867997,
 14.747634099999999,
 28.969623,
 13.0995799,
 22.054722899999998,
 10.0853414,
 25.6096426,
 24.2582982,
 17.063932,
 9.4464385,
 16.840388600000004,
 24.7063418,
 18.7747322,
 21.4620505,
 24.811642199999998,
 22.2894197,
 15.0398207,
 16.8461855,
 13.368055599999998,
 14.3188896,
 15.4426014,
 14.8127244,
 17.332503600000003,
 18.4774009,
 22.570914000000002,
 21.183791,
 17.072155399999996,
 18.8980341,
 14.868053699999999,
 22.083266100000003,
 26.6751755,
 15.5019448,
 8.4151096,
 13.2865915,
 13.7426831,
 7.4959665,
 18.4403745,
 20.876032100000003,
 15.648238800000001,
 24.023651,
 12.5973767,
 5.3747632,
 12.311678500000001,
 10.9794558,
 13.4578801,
 20.2958433,
 19.1576304,
 23.2310357,
 13.149812300000002,
 8.5365599,
 23.5912063,
 10.781081,
 17.3005677,
 17.717315300000003,
 19.114044500000002,
 21.2307217,
 20.3009985,
 22.8034372,
 9.792586,
 9.726778900000001,
 10.368573699999999,
 6.456696599999999,
 19.273615399999997,
 17.597600600000003,
 4.9516343,
 17.0009687,
 24.0158087,
 11.9043052,
 12.0759095,
 17.2332589,
 14.289241500000001,
 10.4547108,
 16.6251411,
 16.7501508,
 12.294413699999998,
 6.722543300000001,
 22.6263044,
 31.311942699999996,
 23.031080300000003,
 16.0161635,
 12.7799829,
 12.7449151,
 18.9868491,
 17.5735797,
 26.7097756,
 7.7115007,
 16.1486274,
 11.3036272,
 28.310874699999996,
 12.6878102,
 21.07171,
 23.6971997,
 17.255623899999996,
 15.865904500000001,
 9.8447114,
 10.960855300000002,
 22.6769523,
 19.5287017,
 12.0182825,
 13.795133400000001,
 7.964569900000001,
 14.273265099999998,
 31.1532571,
 22.429864000000002,
 18.3302526,
 19.829094,
 21.446370899999998,
 16.7951726,
 4.8812849,
 12.151231,
 9.6461963,
 10.923393699999998,
 13.0258094,
 14.417663800000001,
 19.5371498,
 18.413387399999998,
 8.4142968,
 11.886269699999998,
 15.34371,
 13.0880571,
 15.3471016,
 12.4910587,
 12.859958800000001,
 27.218934899999997,
 14.7919992,
 10.3607653,
 18.0203311,
 14.4320892,
 23.7734513,
 13.4385275,
 9.3161118,
 16.344099800000002,
 10.2844984,
 17.063371399999998,
 36.4516438,
 9.7246817,
 12.8060185,
 9.161115400000002,
 23.845258899999997,
 10.1418842,
 17.649115600000002,
 9.515786199999999,
 12.7650487,
 9.936647599999999,
 13.7530745,
 24.152354199999998,
 11.1169652,
 6.1251937000000005,
 12.2746909,
 30.186663800000005,
 21.501552399999998,
 19.3449078,
 15.3329415,
 13.9560509,
 11.2723393,
 17.445035600000004,
 16.2131364,
 13.2820538,
 10.800680400000001,
 16.4015772,
 21.2607711,
 18.1904741,
 17.8666739,
 9.720762599999999,
 21.642787,
 13.1996334,
 17.1713786,
 12.168846400000001,
 24.5996344,
 17.402097899999998,
 22.2247789,
 25.1158407,
 15.8667511,
 9.840091699999999,
 19.153874,
 6.9666687000000005,
 11.0647712,
 19.163636399999998,
 8.0032623,
 11.311515400000001,
 14.768216399999998,
 12.0004452,
 19.2066255,
 9.057168800000001,
 34.043136499999996,
 6.8831313,
 15.2122492,
 9.0018497,
 17.3345173,
 8.2632198,
 19.035945899999998,
 10.95576,
 8.4471483,
 16.5870093,
 10.4776782,
 16.084627400000002,
 14.2873307,
 19.2474783,
 14.593523800000002,
 5.2258146,
 ...]

## Good range poverty

In [13]:
range_good = p_value_data.loc[p_value_data["Poverty Rate"] <= 17 ]
range_good.sort_values(by = ["Poverty Rate"], ascending = False)

      Number of Incidents  Poverty Rate
1284                    3     16.991902
425                    21     16.985631
1602                    2     16.985111
608                    12     16.978969
1363                    2     16.974995
...                   ...           ...
1085                    4      4.297748
639                    11      3.664853
507                    16      3.625600
1516                    2      3.012400
1059                    4      2.925666

[1350 rows x 2 columns]

In [14]:
mean_good = range_good["Poverty Rate"].mean()
mean_good

12.172299745117773

## Medium range poverty

In [15]:
range_medium = p_value_data.loc[p_value_data["Poverty Rate"] > 17]
range_medium = range_medium.loc[range_medium["Poverty Rate"] <= 34 ]
range_medium.sort_values(by=["Poverty Rate"], ascending = False)

      Number of Incidents  Poverty Rate
1144                    4     33.938516
1488                    2     33.678080
1140                    4     33.613574
1283                    3     33.336399
371                    26     33.304862
...                   ...           ...
1938                    1     17.030406
182                    71     17.026829
407                    23     17.018156
1400                    2     17.001991
865                     6     17.000969

[771 rows x 2 columns]

In [17]:
mean_medium = range_medium["Poverty Rate"].mean()
mean_medium

21.499537636964963

## Bad range poverty

In [20]:
range_bad = p_value_data.loc[p_value_data["Poverty Rate"] > 34]
range_bad = range_bad.loc[range_bad["Poverty Rate"] <= 52]
range_bad.sort_values(by = ["Poverty Rate"], ascending = False)

      Number of Incidents  Poverty Rate
1108                    4     51.367994
2073                    1     50.738818
706                     9     44.709038
2144                    1     42.862178
1922                    1     41.464597
1727                    1     40.674603
758                     8     38.910075
528                    15     38.534852
1990                    1     38.285124
1916                    1     37.345053
1537                    2     37.181018
1359                    2     36.710474
2007                    1     36.645880
2048                    1     36.561086
934                     5     36.451644
484                    17     35.572597
784                     7     35.343266
1280                    3     35.286285
1367                    2     35.236517
1025                    4     35.229463
1454                    2     34.721214
1606                    2     34.638915
2126                    1     34.202994
984                     5     34.043136

In [21]:
mean_bad = range_bad["Poverty Rate"].mean()
mean_bad

38.44653432083333

In [22]:
print(f' The average number of good range is {mean_good}.')
print(f' The average number of medium range is {mean_medium}.')
print(f' The average number of bad range is {mean_bad}.')

 The average number of good range is 12.172299745117773.
 The average number of medium range is 21.499537636964963.
 The average number of bad range is 38.44653432083333.

In [23]:
expected_value = (mean_good + mean_medium + mean_bad / 3)
expected_value

46.48734882236051

In [24]:
observed = pd.Series([mean_good, mean_medium, mean_bad], index = ["Good", "Medium", "Bad"])
observed

Good      12.172300
Medium    21.499538
Bad       38.446534
dtype: float64

In [25]:
df = pd.DataFrame([observed]).T
df.head()

                0
Good    12.172300
Medium  21.499538
Bad     38.446534

In [26]:
df[1] = expected_value

In [27]:
df.columns = ["Observed", "Expected"]
df

         Observed   Expected
Good    12.172300  46.487349
Medium  21.499538  46.487349
Bad     38.446534  46.487349

In [28]:
# The degree of freedom is 3-1 = 2
# With a p-value of 0.05, the confidence level is 1.00-0.05 = 0.95.
critical_value = stats.chi2.ppf(q = 0.95, df = 2)
critical_value

5.991464547107979

In [29]:
# Run the chi square test with stats.chisquare()
stats.chisquare(df['Observed'], df['Expected'])

Power_divergenceResult(statistic=40.15217142175901, pvalue=1.9101468541012747e-09)

### There is no significance between poverty and gun violence 
We conclude from p-value which is more than 0.05 there is no significant between poverty rate and gun crime.