In [1]:
%matplotlib inline

In [2]:
# Dependencies
import pandas as pd
import numpy as np
import os
import csv
from datetime import date
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
import scipy.stats as stats
from scipy.stats import ttest_ind

In [3]:
os.chdir('/Users/ruddysimonpour/Desktop/gun-violance/sources')
resource = pd.read_csv("2017 county_data_complete_REV_1.csv", parse_dates=[0], low_memory=False)

In [4]:
county_data = pd.DataFrame(resource)
county_data

,County,State,Year,Number of Incidents,Total Killed,Total Injured,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Cook,IL,2017,3272,722,3044,41.7496,-87.5714,5238541,36.4,59426,33722,821572,15.683222,4.592977
1,Baltimore,MD,2017,1165,319,681,39.2946,-76.6745,828637,39.2,71810,37270,73560,8.877229,2.944474
2,District of Columbia,DC,2017,1142,100,340,38.9552,-77.0225,672391,33.9,77649,50832,111025,16.511970,4.651906
3,Milwaukee,WI,2017,849,112,392,42.9655,-87.8576,956586,34.6,46784,26933,191973,20.068556,3.651527
4,Los Angeles,CA,2017,792,406,366,33.8127,-118.2630,10105722,36.0,61015,30798,1688505,16.708405,4.021741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2140,Yellow Medicine,MN,2017,1,1,0,44.6882,-95.6603,9930,42.6,54645,28182,1215,12.235649,1.409869
2141,York,NE,2017,1,0,3,40.8684,-97.5900,13832,40.9,59966,28298,1253,9.058704,1.243493
2142,York,VA,2017,1,1,0,37.1578,-76.4582,67196,39.6,86781,38193,3446,5.128281,3.086493
2143,Young,TX,2017,1,2,0,33.0940,-98.5879,18166,41.5,46351,25661,2939,16.178575,2.152373
2144,Ziebach,SD,2017,1,0,0,45.0475,-101.6020,2837,30.5,35000,13461,1216,42.862178,12.618964

## P_value 
We decide to calculate p-values of data to check the validity of our claim about correlation between datas.
We want to understand that is there any correlation between unemployment and gun incidens ?

In [5]:
p_value_data = county_data[["Number of Incidents",
                            "Unemployment Rate"]]
p_value_data.head()

   Number of Incidents  Unemployment Rate
0                 3272           4.592977
1                 1165           2.944474
2                 1142           4.651906
3                  849           3.651527
4                  792           4.021741

In [6]:
unemployment_m = p_value_data["Unemployment Rate"].mean()
unemployment_m

3.085138898544067

In [7]:
unemployment_range = p_value_data["Unemployment Rate"].unique().tolist()
unemployment_range

[4.5929773,
 2.944473877,
 4.6519064000000006,
 3.6515274,
 4.0217413,
 3.7823875,
 4.9852795,
 4.367281299999999,
 4.307419,
 3.2966827000000003,
 5.418954599999999,
 4.586285500000001,
 4.169927700000001,
 5.3649404999999994,
 4.1752663,
 3.7976525999999997,
 4.0946574,
 3.1182115,
 3.6748689,
 3.004222,
 2.9890499,
 4.5944711,
 2.9962171000000004,
 2.8924673,
 3.3441568999999998,
 4.2056185,
 3.7739898999999997,
 3.6567195,
 2.9511119999999997,
 4.1348152,
 3.7359552000000003,
 3.2630407000000003,
 3.196555,
 3.0333232000000003,
 4.675081700000001,
 4.128348399999999,
 5.1211776,
 3.0812867,
 2.6651687,
 2.835818,
 4.7815222,
 4.0596238,
 4.4822790999999995,
 3.5735498,
 3.6204015,
 3.3453686,
 3.2803599,
 3.9190807,
 3.3734142999999994,
 2.6007390999999997,
 3.9371977,
 4.5597838,
 4.6638796,
 5.4195335,
 4.1260994,
 3.1517232,
 2.8179806,
 2.7845791,
 3.267509,
 3.9956985,
 2.2383648999999997,
 4.8098862,
 3.3165642999999996,
 2.8250831,
 3.8359636,
 3.3359885,
 3.9706898,
 4.3182426,
 4.4007712,
 2.3947346,
 2.1912344,
 4.2415391,
 3.1198360000000003,
 3.0295987999999996,
 3.4134358,
 3.5557220000000003,
 3.9301601,
 2.8335854,
 5.3513215,
 3.9916112,
 3.9882341,
 3.461559,
 4.432131,
 4.076351399999999,
 2.9625849,
 3.5374903,
 3.7273614999999998,
 2.6086751,
 3.3613883999999996,
 3.6733885,
 3.9436516000000004,
 3.4522279,
 3.6653297999999994,
 3.9389303,
 3.2614947999999995,
 3.1592242,
 3.2283063999999997,
 3.2820050000000003,
 2.4302791,
 4.5568239,
 1.9644996,
 2.7024754,
 2.2776723999999997,
 3.2976897000000003,
 2.9387267,
 3.3418434,
 2.9799252999999997,
 4.3176618,
 3.2620877,
 3.0432382999999996,
 2.6590474,
 2.9700546,
 4.629612,
 4.1034558,
 2.5571485000000003,
 3.0015697,
 3.1499707000000003,
 3.0459506000000003,
 2.7560917999999996,
 2.6145713,
 4.9143183,
 2.5919673,
 2.8855582,
 3.5474916,
 3.367262,
 4.4499422,
 3.6308415999999997,
 2.4460665,
 3.3469888999999995,
 3.4782808,
 4.1482123,
 3.0208375,
 3.3424487000000003,
 2.707531,
 2.7049551,
 3.9715782999999996,
 2.8880866000000003,
 3.0517444,
 3.3613623999999995,
 3.8379980000000002,
 2.8565226000000004,
 3.1599992,
 3.3912299,
 4.1287155,
 3.2139173999999997,
 3.5440661,
 5.7268270999999995,
 4.152768,
 3.1160431,
 3.858207,
 5.216336900000001,
 3.0144835,
 4.858512,
 3.6139931000000005,
 2.7416248,
 3.7741129,
 2.5163987999999997,
 5.141193,
 3.4079402,
 3.3020992,
 2.7811237999999996,
 4.0074463,
 2.9737352,
 2.1306992,
 2.8810577,
 3.1932728999999997,
 3.3885266000000005,
 3.6353462999999997,
 3.503529,
 3.4840352,
 2.8663279,
 4.512626999999999,
 2.7668205,
 4.3777526,
 3.212914,
 2.862189,
 3.5834281999999997,
 4.1424112,
 3.6676885,
 2.7298971,
 2.6999117999999998,
 2.8849592,
 5.4584419,
 5.946249900000001,
 3.6726593000000003,
 4.1889223,
 3.4184468,
 2.8159177000000004,
 2.5983277,
 4.6956121,
 2.7385467,
 3.1884021000000002,
 3.3362792999999997,
 2.9788906,
 4.256328400000001,
 2.4553586,
 2.3937911,
 2.7324402,
 3.2727529,
 3.1778944,
 4.2294288,
 4.2369965999999994,
 3.715783,
 4.5056555,
 3.0424667999999997,
 3.3682451,
 4.0457458,
 3.7956068999999997,
 4.1992639,
 2.9325360000000003,
 2.8643325,
 2.7216553,
 3.3679998999999996,
 2.7522317000000003,
 6.346161,
 2.9128217999999997,
 2.3975026,
 4.340722599999999,
 3.2139083,
 2.4562886,
 2.1031053,
 2.814559,
 3.9947855000000003,
 3.7624975,
 3.1832274,
 2.9995912999999996,
 4.0710177000000005,
 3.1101221000000003,
 4.2430596,
 3.4799692,
 3.0696847999999997,
 2.9666685,
 2.873485,
 2.7632214,
 2.1452501,
 3.8022291,
 2.2463168999999996,
 3.3647832,
 3.0699847,
 3.2981961,
 2.898683,
 3.5046802,
 3.8043924,
 7.059504799999999,
 5.7335004000000005,
 3.0612817999999997,
 3.0127298,
 3.9768894,
 5.3888907999999995,
 4.1135324,
 2.3739987,
 3.1340891,
 4.1794516,
 2.8581081000000004,
 3.0726931,
 3.3939595000000002,
 3.5422266000000002,
 3.4876650000000002,
 3.146115,
 2.7510707,
 1.9277407,
 2.154819,
 1.88637,
 4.1395627,
 3.7145809,
 3.9965147000000005,
 3.8863214,
 3.5394473,
 4.055498600000001,
 2.8364517000000005,
 3.6385672999999996,
 3.40838,
 4.156751,
 5.7839373,
 2.8762615,
 2.8245037,
 3.3880981,
 3.2331587,
 2.9114553,
 3.5027581,
 1.9644192999999999,
 3.5026488,
 2.7361591,
 3.6798146000000003,
 2.429559,
 3.2568187,
 2.7213857000000004,
 2.7090353,
 2.8493151,
 4.5954625,
 2.2019831,
 2.1997468999999996,
 3.0596641,
 4.2072177,
 2.5017165,
 5.6483867,
 2.5891539,
 3.3632362000000002,
 3.6953599,
 3.0712496,
 2.6136578999999998,
 2.2161855,
 3.5881876000000004,
 4.4856959000000005,
 4.2670295,
 2.8561126,
 5.191578,
 4.5938597,
 3.9673241999999997,
 2.7719737,
 3.4664851000000003,
 3.2834687000000007,
 3.2249668999999996,
 3.0605956,
 5.1522889,
 3.4925681000000006,
 3.8594902,
 2.1376082000000003,
 2.7469672999999997,
 3.1902375,
 2.9071597000000002,
 3.3621071000000002,
 3.1958138,
 3.9886682,
 2.7160756,
 3.4563817,
 3.9888352999999994,
 3.3115214999999996,
 2.0045238999999997,
 2.8468107000000002,
 3.1168146,
 2.3513485,
 1.9144884999999998,
 4.1355394,
 3.1820521,
 3.2780072999999996,
 3.6930153,
 2.5761216,
 2.9320531,
 3.6873574000000002,
 2.8710105,
 2.4829781000000004,
 2.9562604,
 3.2568798,
 2.5644178,
 2.3782739,
 2.6815273,
 3.1707628,
 3.4982902,
 3.6826111000000004,
 2.4650008,
 2.0053424,
 2.7437106,
 3.1666708,
 2.5562941,
 4.4896218,
 4.1464433,
 2.8414256,
 4.0542119,
 5.1918305,
 2.2884277,
 3.063805,
 2.1928121,
 2.6424782,
 2.7169731,
 3.2752464,
 2.5181335,
 3.8524044,
 3.8365146,
 3.8139969,
 3.5171542999999996,
 7.2184492,
 2.5941772999999997,
 1.9833502,
 3.2971114999999998,
 2.8337498,
 3.1524299,
 2.2756851000000005,
 2.2378442,
 2.7912412,
 3.2248214,
 4.0941903,
 3.7782758999999997,
 3.7726391,
 3.3876852999999993,
 3.8250300999999998,
 3.5986266000000002,
 2.9430334,
 2.4390526,
 2.7591203999999996,
 3.9452121,
 3.2408018,
 2.386197,
 2.7218106,
 4.3715847000000005,
 3.0132623,
 2.8059353,
 2.9757588,
 2.7859519,
 2.6738691,
 4.5333731,
 2.1658355,
 4.3878556,
 3.9502867999999993,
 2.9145265,
 5.1844535,
 3.0565,
 3.1027158,
 2.2047927000000005,
 2.7549927000000003,
 1.8082904,
 1.4290228,
 2.2831794999999997,
 2.1156794,
 1.6205603000000002,
 2.5485314,
 3.6846236000000006,
 3.5677777,
 4.2083279000000005,
 3.3116442999999998,
 2.8965112,
 2.3169918,
 2.5215582000000003,
 4.3427051,
 2.9540963,
 2.6905772,
 3.7052925,
 3.1910289,
 3.2780114,
 2.8962825,
 3.5970042,
 2.9437330000000004,
 2.33597,
 1.9252093999999997,
 2.490466,
 3.984928,
 2.3055001,
 3.7600154000000003,
 3.4344822,
 3.2352172,
 4.5255141,
 3.1020778,
 3.8636008,
 3.4722222,
 2.9339443,
 1.8218671000000002,
 3.0295947999999995,
 2.9524935,
 2.4869489,
 3.6404364,
 3.3569165,
 3.035597,
 2.4150788,
 3.3493216,
 2.8763425,
 2.8663857999999998,
 3.1100053,
 2.1228648999999997,
 4.0206334,
 3.1932283,
 4.2206255,
 3.3441634,
 3.0941506000000003,
 1.9254275,
 2.946605,
 4.4482921,
 2.882089,
 2.5567461,
 3.5596062999999996,
 3.2539314,
 3.8109254,
 1.0176244,
 3.2202161,
 2.6809722999999996,
 2.8157136,
 3.6862864999999996,
 3.0174284,
 2.8172965,
 3.2666408,
 2.7243756,
 2.5339075,
 5.097830999999999,
 3.7957601000000003,
 2.9398868,
 4.8851182,
 1.7300098000000002,
 3.071501,
 2.3958312999999998,
 2.8383762000000003,
 2.5263624,
 2.26801,
 2.5917042,
 2.6401208,
 2.4424651,
 3.1046617999999997,
 2.3870161,
 2.7582253,
 5.2264987000000005,
 1.7235171000000002,
 4.2151163,
 3.6196042999999998,
 1.8085301999999999,
 4.4727606,
 3.3592742999999996,
 2.3112932,
 2.9420295,
 4.2794596,
 1.7775908,
 2.3155216,
 1.7773362000000001,
 3.0828189,
 4.1641352,
 3.7840501000000004,
 4.7691057,
 2.8121739,
 3.0421392000000003,
 3.1038798,
 2.5552187,
 4.8046269,
 4.4284338,
 2.6506138,
 3.6070547,
 3.5291884,
 3.9819519999999997,
 2.7020437999999998,
 4.3126432,
 2.4537744999999997,
 3.1976652999999997,
 4.1311062000000005,
 3.1564089,
 2.686573,
 2.9930886,
 4.9190258,
 2.7824482999999995,
 3.3301947,
 4.399497900000001,
 2.8570915,
 2.6052801,
 3.1108043999999997,
 3.1373653,
 3.8893413999999997,
 3.7538263,
 1.5109819,
 3.4452693,
 4.0973833,
 2.9697197,
 2.5497767000000002,
 3.0366492000000003,
 3.7805917,
 2.2958845,
 3.6559071000000003,
 2.1103644,
 2.5018808999999997,
 3.1988995,
 3.9277167,
 3.0302675,
 3.4952928,
 3.3978284,
 2.8330764999999998,
 3.6357404000000004,
 3.8999260000000002,
 2.2399679,
 3.3711008999999996,
 3.3538650000000003,
 2.6875397999999997,
 3.8342492999999993,
 1.4397794,
 3.3558980000000003,
 2.3641853,
 4.0954397,
 2.4056981,
 3.4709107000000006,
 3.1830005,
 2.4527238,
 2.2792584,
 4.746681,
 2.5007610000000002,
 3.8896212,
 3.838055,
 3.7850516000000005,
 5.2321136,
 4.1284787000000005,
 3.5965597999999996,
 2.1891347999999997,
 2.8486707,
 3.8930597999999996,
 2.8883386000000004,
 3.2235753,
 2.893226,
 3.9856422999999994,
 2.7742549,
 2.0326396,
 3.0685146,
 3.6111805,
 2.7265019,
 2.5646722,
 2.9049542,
 8.1082586,
 3.5660546,
 2.0271024,
 2.9169335,
 1.6117523999999999,
 3.3025637000000003,
 2.5148002,
 4.1922542,
 2.1445886,
 2.8348424999999997,
 3.8818694,
 3.9669092000000004,
 2.8564917999999997,
 2.3433975,
 6.343182,
 3.3345629999999997,
 2.793365,
 2.5790048999999997,
 3.0219245999999997,
 4.2267817,
 2.0917564,
 2.8746289000000003,
 2.4798396,
 3.4702197,
 2.2278544,
 3.7030697,
 2.445051,
 2.2995693999999998,
 4.0576986,
 3.1613227999999998,
 3.2242359,
 4.3083084000000005,
 4.7723572,
 5.1301135,
 2.8581138999999998,
 3.0185981,
 3.1949074,
 2.856659,
 4.7018297,
 3.5437915999999996,
 2.3013672,
 2.8287578,
 2.1096866000000003,
 2.5859479,
 6.0679875999999995,
 2.6180484,
 3.2350396,
 3.4544038,
 1.6365370000000001,
 3.0766437,
 4.2340957999999995,
 2.3658922000000002,
 1.7845362,
 2.5199127999999997,
 1.7122696,
 3.1090299,
 3.3057106,
 1.8391693,
 3.0240037999999996,
 4.8127934,
 3.3225900999999998,
 0.9835132,
 3.3209032999999994,
 2.6439225,
 2.5698996,
 1.8589825,
 2.7794731,
 3.3853407999999994,
 3.3996449,
 2.5231172,
 7.2594192,
 3.0665142000000003,
 3.3974281000000004,
 2.5794764999999997,
 3.5866566,
 4.2761903,
 3.6031440000000003,
 3.0886665,
 4.7429193,
 3.9936653,
 5.0798199,
 2.4868509,
 3.4848578999999997,
 4.2686321,
 3.2820307,
 3.171938,
 2.2149904,
 1.0845789,
 3.3205101999999997,
 3.5224947999999996,
 2.0763808,
 4.1695585,
 2.3702334,
 2.8741102,
 3.4861961000000004,
 2.3581365,
 2.1769369999999997,
 3.2129442000000004,
 2.3772401000000003,
 3.6901374,
 3.6829083,
 2.6803755000000002,
 4.0784291,
 3.3092686000000002,
 3.6642718,
 2.5125827999999997,
 3.5186129999999998,
 3.9105885000000002,
 4.1586392,
 6.5418514000000005,
 3.4354617,
 2.3462907000000004,
 4.4808487,
 3.8581802000000005,
 2.4633778,
 2.8412029999999997,
 3.0374632000000004,
 3.3352837999999996,
 2.3904210999999997,
 4.2432453,
 2.7994613,
 3.0903424,
 2.7115968999999995,
 2.7896443,
 2.7077079,
 3.9293633999999997,
 3.3968354,
 2.5353577,
 3.1280755,
 2.6986060000000003,
 3.9090830000000003,
 2.7134487000000003,
 3.5706665999999996,
 5.3353215,
 3.9302392999999998,
 2.8106592,
 3.4062709000000004,
 2.3668703,
 2.8767810000000003,
 2.9325859,
 2.547309,
 4.2591906999999996,
 1.5586718000000002,
 2.4187946,
 2.2649136000000003,
 3.5626865,
 6.3986089999999995,
 2.4013806,
 3.4703578,
 3.7851364999999997,
 2.2697972,
 3.2263641,
 2.7514369,
 2.7013244999999997,
 2.1590486,
 3.3070934000000003,
 2.1658305,
 3.1319661,
 1.6450301,
 2.2757487999999997,
 2.332478,
 10.5548038,
 3.0455677000000003,
 3.9538407999999996,
 3.0780429,
 2.3813906000000005,
 1.8275797999999999,
 1.9550697,
 1.8203841,
 2.6627471000000003,
 2.7466255,
 3.3816196000000005,
 3.2777958,
 3.5900782999999996,
 3.5857072999999997,
 3.8013449,
 4.9129152000000005,
 2.1670812,
 2.6871113999999996,
 2.72025,
 3.8473462,
 4.1628812,
 2.4067667999999998,
 4.002874299999999,
 2.4908607000000003,
 3.9383863,
 2.6485041000000002,
 8.112446499999999,
 2.7235526,
 2.4213766,
 2.8037813999999996,
 3.7257381,
 4.2529553,
 2.0187836999999997,
 2.6670706,
 3.2558771,
 1.8053712,
 2.3613392,
 2.7608171,
 3.0903159,
 3.1100331000000003,
 2.3083303,
 3.5015731,
 4.874436599999999,
 3.0206299,
 4.3230394,
 2.8060629,
 4.5457186,
 1.9678715,
 3.3553611000000005,
 3.950847,
 4.3329638,
 2.4696093999999995,
 2.7228249,
 4.1037041,
 3.2984267999999997,
 2.8004254,
 3.6483571000000006,
 3.1496063,
 2.6133589,
 3.0975576,
 2.4636994999999997,
 2.9001422000000003,
 2.5619970000000003,
 3.0253087000000005,
 2.2650902000000004,
 4.252794000000001,
 5.0540297,
 4.1600567,
 2.1322848999999997,
 3.7896731,
 3.5113614,
 3.9777312000000005,
 5.9242714,
 3.0243432999999995,
 2.0137115000000003,
 3.112253,
 1.8874686,
 2.620573,
 3.8526585,
 3.4842185,
 1.8101463,
 3.1799662,
 2.8430655,
 2.1724968,
 3.7904482,
 2.9877807,
 2.4096386,
 3.4315346,
 2.9014952999999997,
 4.6475145,
 4.908429099999999,
 2.6836345,
 5.026436599999999,
 3.3870584999999997,
 4.6882913,
 3.0995106,
 4.245540900000001,
 2.1476528999999998,
 3.3379491000000003,
 4.044038700000001,
 1.5314188999999998,
 3.8061779000000002,
 2.3334471000000003,
 2.1613819,
 3.4002993999999997,
 2.5637807999999995,
 2.4372511,
 3.6839706,
 4.244726200000001,
 2.8253542,
 2.8958543,
 3.1338687000000003,
 3.2118857000000003,
 3.7904693,
 2.8146533,
 2.9188848999999997,
 1.3523011999999999,
 3.412775,
 6.4624445,
 4.4977903,
 3.6511767999999996,
 3.5060613,
 2.7274407000000003,
 4.2657212,
 3.211277,
 3.6374303,
 2.3088627,
 1.4039057,
 3.2920997000000005,
 2.6710015,
 6.000815599999999,
 2.6495182999999995,
 3.1363277999999997,
 2.1082918,
 3.8211127,
 6.689324900000001,
 2.3279972,
 2.4783833,
 3.1221137000000003,
 4.9126856,
 3.6640873999999997,
 2.7442338,
 2.1391433999999996,
 3.3166220999999996,
 4.464431200000001,
 4.051289,
 4.888067400000001,
 3.4930788,
 3.7405234,
 3.1759682000000002,
 1.9459794999999998,
 3.2404355,
 2.1582437000000003,
 3.0040652999999997,
 3.169021,
 2.9963072,
 2.4147381,
 2.3330857999999997,
 2.5829568,
 3.1566517000000003,
 3.3109498,
 3.3289391000000004,
 2.1797761,
 1.8031712,
 4.2478273,
 5.6499332,
 1.787377,
 4.1026346,
 4.4796254,
 1.7368226999999998,
 2.7292035,
 3.8231803,
 2.5174702,
 3.2260953,
 1.8929782,
 3.5006684,
 2.7652641,
 2.2714007,
 2.1119213,
 1.8233926999999999,
 2.4723677000000004,
 2.3212259,
 3.8890037000000004,
 1.6959294999999999,
 2.4773468999999997,
 3.0546363999999997,
 2.9722087999999998,
 4.5824696,
 2.3299379,
 2.1284682999999998,
 1.8223348000000001,
 3.8881619,
 4.5253552,
 3.9233936000000003,
 4.2446889,
 3.1820272000000003,
 1.6857828999999998,
 2.8516736000000003,
 2.2904417,
 2.9624549,
 1.4560447,
 2.2922445,
 4.8049305,
 2.9782333999999997,
 2.6228536,
 2.7923735,
 3.3993906000000003,
 2.3068678,
 2.6595150000000003,
 2.3013077999999996,
 6.6764168,
 3.6503497000000005,
 3.3463726,
 3.251394,
 3.3799476999999998,
 2.6497007999999997,
 3.6085906000000003,
 2.8730729,
 2.8986959999999997,
 3.5151515,
 2.8850041,
 2.962487,
 1.843504,
 3.3873611000000006,
 3.7901567000000003,
 2.8805803,
 6.2968379,
 2.1683532000000003,
 2.6378036,
 2.7127013,
 3.951604,
 2.2712411,
 2.8725514,
 2.3810775,
 2.1627376,
 2.4184492000000004,
 2.9210269,
 4.162428500000001,
 2.2988722999999998,
 3.716008,
 3.7099737,
 1.808343,
 ...]

## Good range unemployment

In [8]:
range_good = p_value_data.loc[p_value_data["Unemployment Rate"] <= 4 ]
range_good.sort_values(by = ["Unemployment Rate"], ascending = False)

      Number of Incidents  Unemployment Rate
1974                    1           4.000000
265                    41           3.996515
59                    204           3.995699
222                    55           3.994786
676                    10           3.993665
...                   ...                ...
2013                    1           0.520156
1408                    2           0.501560
1677                    1           0.487665
1987                    1           0.487013
1870                    1           0.414028

[1816 rows x 2 columns]

In [9]:
mean_good = range_good["Unemployment Rate"].mean()
mean_good

2.761719907476328

## Medium range unemployment

In [10]:
range_medium = p_value_data.loc[p_value_data["Unemployment Rate"] > 4]
range_medium = range_medium.loc[range_medium["Unemployment Rate"] <= 8 ]
range_medium.sort_values(by=["Unemployment Rate"], ascending = False)

      Number of Incidents  Unemployment Rate
1283                    3           7.776500
1560                    2           7.336103
1727                    1           7.308201
667                    10           7.259419
371                    26           7.218449
...                   ...                ...
1991                    1           4.017598
1591                    2           4.008326
161                    80           4.007446
1224                    3           4.003039
780                     7           4.002874

[320 rows x 2 columns]

In [11]:
mean_medium = range_medium["Unemployment Rate"].mean()
mean_medium

4.731868372187497

## Bad range unemployment

In [12]:
range_bad = p_value_data.loc[p_value_data["Unemployment Rate"] > 8]
range_bad = range_bad.loc[range_bad["Unemployment Rate"] <= 13]
range_bad.sort_values(by = ["Unemployment Rate"], ascending = False)

      Number of Incidents  Unemployment Rate
2144                    1          12.618964
1413                    2          11.946050
758                     8          10.554804
2007                    1           9.950909
1344                    3           9.352650
1423                    2           8.826206
1287                    3           8.671419
784                     7           8.112446
597                    12           8.108259

In [13]:
mean_bad = range_bad["Unemployment Rate"].mean()
mean_bad

9.793522922222223

In [14]:
print(f' The average number of good range is {mean_good}.')
print(f' The average number of medium range is {mean_medium}.')
print(f' The average number of bad range is {mean_bad}.')

 The average number of good range is 2.761719907476328.
 The average number of medium range is 4.731868372187497.
 The average number of bad range is 9.793522922222223.

In [15]:
expected_value = (mean_good + mean_medium + mean_bad / 3)
expected_value

10.758095920404566

In [16]:
observed = pd.Series([mean_good, mean_medium, mean_bad], index = ["Good", "Medium", "Bad"])
observed

Good      2.761720
Medium    4.731868
Bad       9.793523
dtype: float64

In [17]:
df = pd.DataFrame([observed]).T
df.head()

               0
Good    2.761720
Medium  4.731868
Bad     9.793523

In [18]:
df[1] = expected_value

In [19]:
df.columns = ["Observed", "Expected"]
df

        Observed   Expected
Good    2.761720  10.758096
Medium  4.731868  10.758096
Bad     9.793523  10.758096

In [20]:
# The degree of freedom is 3-1 = 2
# With a p-value of 0.05, the confidence level is 1.00-0.05 = 0.95.
critical_value = stats.chi2.ppf(q = 0.95, df = 2)
critical_value

5.991464547107979

In [21]:
# Run the chi square test with stats.chisquare()
stats.chisquare(df['Observed'], df['Expected'])

Power_divergenceResult(statistic=9.40573960489856, pvalue=0.009069212870677733)

### There is a significance between unemployment and gun violence 
We conclude from p-value which is less than 0.05 we reject the null hypothesis that there is no difference between the means and conclude that a significance correlation between unemployment rate and gun incidents which demonstrates that higher unemployment rate will increase gun crimes.